[tool.ruff]
line-length = 100
target-version = "py310"
exclude = [
    ".venv",
    "venv",
    ".git",
    "__pycache__",
]

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4", # flake8-comprehensions
    "UP", # pyupgrade
    "SIM",# flake8-simplify
]
ignore = [
    "E501", # line too long, handled by black/ruff format
    "B008", # Allows do not perform function calls in argument defaults (Needed for Depends())
]

[tool.mypy]
strict = true
exclude = [
    "venv",
    ".venv",
]
ignore_missing_imports = true
